{% extends 'base.html.twig' %}

{% block title %}Edit Lecturer{% endblock %}

{% block body %}
    <h1>Edit Lecturer</h1>

    {{ include('lecturer/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_lecturer_index') }}">back to list</a>

    {{ include('lecturer/_delete_form.html.twig') }}
{% endblock %}
