{% extends 'base.html.twig' %}

{% block title %}ERROR PAGE{% endblock %}

{% block body %}
    <h1>Whoops! something went wrong</h1>
    <h2>404 - no found error</h2>
    <p>
        sorry - the item/page you were looking for could not be found
    </p>
{% endblock %}