{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <p>
        Hello World
    </p>

    <a href="{{ url('app_product_index') }}">list of products</a>

{% endblock %}
