{% extends 'base.html.twig' %}

    {% block title %}error{% endblock %}

    {% block body %}
        sorry - access is denied for your request
        <p>
            <a href="{{ url('homepage') }}">home</a>
        </p>
    {% endblock %}