{% extends 'base.html.twig' %}

{% block body %}
    <h1>Student SHOW page</h1>

    <p>
        id = {{ student.id }}
        <br>
        name = {{ student.firstName }} {{ student.surname }}
    </p>

    {{ dump (student) }}
{% endblock %}